body {
    background-color: #4813f7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

button {
    background-color: #ee823d;
    color : white;
    border-radius: 20px;
    padding: 10px 15px;
    border: 0px;
    font-weight: bold;
    font-size: small;
}

h1 {
    font-size: 10em;
}

h2 {
    font-size: 2em;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: white;
}

.headline-1 {
    font-size: 30px;
}

.headline-2 {
    font-size: 17px;
    color: #ba9cff;
}

.headline-3 {
    font-size: 10px;
    color: #ba9cff;
}

.headline-4 {
    font-size: 20px;
    font-weight: bold;
}

.section-1 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;

}

.section-4 {
    display: flex;
    justify-content: center;
    padding: 50px;   
}

.section-2 {
    color: white;
    display: flex;
    flex-direction: row;
    flex-basis: 400px 200px;
    align-items: center;
    margin: 20px;
    justify-content: center;
    padding-top: 50px;

}

.section-3 {
    color: white;
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
    margin: 20px;

}

.no-shrink-item {

  flex-shrink: 0;

}


#wide-button {
    padding: 10px 50px;
    border-radius: 35px;
}